/* Geometry */
$proof-width: 100%;
$proof-line-height: 25px;
$proof-margin-bottom: 20px;

$proof-line-background-hl-color: whitesmoke;
$proof-line-background-hl-transition: 0.1s linear;
$proof-line-border-hl-style: 1px solid lightgray;

$line-number-min-width: 10%;
$line-number-max-width: 25%;
$line-number-padding: 25px;
$line-number-marker: ".";
$ellipses-line-number-padding: 30px;

$level-marker: 1px solid black;
$level-indent-width: 20px;

$formula-font-size: 100%;
$formula-padding-left: 17px;
$ellipses-formula-padding-left: 20px;
$formula-padding-bottom: 0px;

$justification-width: 300px;
$justification-font-size: 90%;
$justification-padding-left: 17px;
$justification-padding-bottom: 0px;

$hypothesis-marker-height: 20px;
$hypothesis-marker-width: 30px;

// proof container
.lproof {
  display: grid;
  grid-auto-rows: $proof-line-height;
  margin: auto;
  margin-bottom: $proof-margin-bottom;
  width: $proof-width;

  // line in a proof
  %proof-line {
    display: grid;
    grid-template-rows: [line-top] $proof-line-height [line-bottom];

    &:hover {
      background-color: $proof-line-background-hl-color;
      transition: background-color $proof-line-background-hl-transition;
      border-bottom: $proof-line-border-hl-style;
    }

    .proof-formula {
      grid-column: formula-start / formula-end;
      grid-row: line-top / line-bottom;
      font-size: $formula-font-size;
      padding-left: $formula-padding-left;
      padding-bottom: $formula-padding-bottom;
      align-self: end;
    }

    .proof-justification {
      grid-column: formula-end / line-end;
      grid-row: line-top / line-bottom;
      font-size: $justification-font-size;
      padding-left: $justification-padding-left;
      padding-bottom: $justification-padding-bottom;
      align-self: end;
    }

    .hypothesis-marker {
      grid-column: formula-start / formula-end;
      grid-row: line-top / line-bottom;
      align-self: end;
      border-left: $level-marker;
      border-bottom: $level-marker;
      height: $hypothesis-marker-height;
      width: $hypothesis-marker-width;
    }

    .subproof-marker {
      grid-column: formula-start / formula-end;
      grid-row: line-top / line-bottom;
      align-self: end;
      border-left: $level-marker;
      height: $proof-line-height;
    }

    .line-number {
      justify-self: end;
      align-self: end;
      padding-right: $line-number-padding;

      &::after {
        content: $line-number-marker;
      }
    }

    .level-marker {
      border-left: $level-marker;
    }
  }

  .proof-line[data-ellipses="true"] {
    @extend %proof-line;
    grid-template-rows: [line-top] $proof-line-height [line-bottom];
    grid-template-columns:
      [line-start] minmax($line-number-min-width, $line-number-max-width)
      [formula-start] 1fr [formula-end] $justification-width [line-end];

    &:hover {
      background-color: white;
      border-bottom: 0px;
    }

    .line-number {
      justify-self: end;
      align-self: center;
      padding-bottom: 5px;
      padding-right: $ellipses-line-number-padding;

      &::after {
        content: "";
      }
    }

    .proof-formula {
      grid-column: formula-start / formula-end;
      grid-row: line-top / line-bottom;
      font-size: 100%;
      padding-left: $ellipses-formula-padding-left;
      align-self: center;
    }
  }

  .proof-line[data-depth="0"] {
    @extend %proof-line;
    grid-template-columns:
      [line-start] minmax($line-number-min-width, $line-number-max-width)
      [formula-start] 1fr [formula-end] $justification-width [line-end];
  }

  .proof-line[data-depth="1"] {
    @extend %proof-line;
    grid-template-columns:
      [line-start] minmax($line-number-min-width, $line-number-max-width)
      [formula-start] 1fr [formula-end] $justification-width [line-end];
  }

  @for $i from 2 through 10 {
    .proof-line[data-depth="#{$i}"] {
      @extend %proof-line;
      grid-template-columns:
        [line-start] minmax($line-number-min-width, $line-number-max-width)
        repeat(#{$i - 1}, $level-indent-width)
        [formula-start] 1fr [formula-end] $justification-width [line-end];
    }
  }
}
